/**
SITE COLORS
 */
$color-primary: #007895;
$color-btn-primary: #eb6851;
$color-btn-secondary: #00cdff;

$color-x: #ffe7d1;
$color-o: $color-btn-secondary;

 /**
FONTS AND STYLES
 */
$font-primary: 'MyriadPro', sans-serif;
$font-secondary: 'PlasticSans', sans-serif;