@font-face {
    font-family: 'MyriadPro';
    src: url('../../fonts/MYRIADPRO-BOLD.OTF') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'PlasticSans';
    src: url('../../fonts/PlasticSans-Regular.otf') format('opentype');
    font-weight: 400;
}