body {
    font-family: $font-primary;
}

h1 {
    font-family: $font-secondary;
    font-size: 50px;
    color: #ffe6d0;
    font-weight: 400;
}

form {
    input[type=text] {
        height: 40px;
        padding: 5px 10px;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 1px;
        width: 180px;
        border: 0;
        margin: 0;
    }

    input[type=radio] {
        margin: 0;
    }
}