header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 60px;
    background-color: $color-primary;

    &.on-game {
        background-color: #6fb1b4;    
    }

    .avatar {
        width: 70px;
        height: 70px;
    }
}

@media screen and (max-width: 1000px){
    header {
        padding: 20px 22px;
        gap: 40px;
    
        .avatar {
            width: 60px;
            height: 60px;
        }
    }    
}

@media screen and (max-width: 800px){
    header {
        padding: 20px 15px;
        gap: 20px;
    
        .avatar {
            width: 35px;
            height: 35px;
        }
    }    
}

@media screen and (max-width: 720px) {
    header {
        gap: 70px;
        padding: 18px 22px;
    
        .avatar {
            width: 50px;
            height: 50px;
        }

        &:not(.on-game){
            display: none;
        }

        &.on-scores-page{
            display: flex;
            justify-content: center;

            .avatar {
                display: none;
            }
        }

        .router-btn {
            display: none;
        }
    }
}

@media screen and (max-width: 400px) {
    header {
        gap: 10px;
        justify-content: space-between;
    }
}