@import '../_wrapper.scss';

.homepage {
    padding: 35px 0;
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playground-grid {
    width: 100%;
    max-width: 1140px;
    display: grid;
    gap: 3px;
    border: 3px solid #494949;
    background-color: #494949;
    grid-template-columns: repeat(18, 1fr);

    &--elem {
        height: 60px;
        background-color: #292929;
        cursor: pointer;

        &-active {
            cursor: default;

            &::before {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 1;
                font-size: 40px;
            }

            &-x {
                &::before {
                    content: 'X';
                    color: $color-x;
                }    
            }

            &-o {
                &::before {
                    content: 'O';
                    color: $color-o;
                }    
            }
        }

        &-winner {
            &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background-color: rgba($color: #932c2c, $alpha: 0.55);
            }
        }
    }    
}

.welcome-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input {
    &-wrapper {
        display: flex;
        align-items: center;
        gap: 20px;

        input[type=text] {
            height: 40px;
            padding: 5px 10px;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 1px;
            width: 180px;
            border: 0;
            margin: 0;
        }
    }

    &-description {
        font-size: 20px;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 1px;
    }
}

.form-grid-section {
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;

    .play-btn {
        grid-column: 1/3;
        margin: 0 auto;
    }
}

.radio-wrapper {
    width: 85px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        img {
            opacity: .75;
        }
    }

    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        opacity: 0;
        z-index: -9999;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        margin: 0;
    }

    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label {
        position: absolute;
        cursor: pointer;
        width: 100%;
        height: 100%;
        z-index: 10;
        transition: 0.2s all;
    }

    [type="radio"]:checked + label {
        border-bottom: 2px solid #fff;
    }

    img {
        width: 80px;
        height: auto;
        transition: .2s opacity;
    }
}

.cover-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}