@import '../wrapper';

.playground-grid {
    &--square {
        &-last-horizontal,
        &-last-vertical,
        &-first-horizontal,
        &-first-vertical {
            .winner-icon {
                position: absolute;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                z-index: 10;
                
                &-avatar_grey {
                    background-image: url('../../images/avatar_grey.svg');
                }

                &-avatar_brown {
                    background-image: url('../../images/avatar_brown.svg');
                }

                &-avatar_white {
                    background-image: url('../../images/avatar_white.svg');
                } 
            }    
        }

        &-first-vertical {
            .winner-icon {
                top: calc(-100% - 3px);
                left: 0;
            }
        }

        &-last-vertical {
            .winner-icon {
                bottom: calc(-100% - 3px);
                left: 0;
            }
        }

        &-first-horizontal {
            .winner-icon {
                left: calc(-100% - 3px);
                bottom: 0;
            }
        }

        &-last-horizontal {
            .winner-icon {
                right: calc(-100% - 3px);
                bottom: 0;
            }
        }
    }    
}